body {
	border-top: 5px solid #660066;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
}

header {
	height: 125px;
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}

#loginBox {
	background: #660066;
	border-radius: 0 0 5px 5px;
	color: #fff;
	float: right;
	font-size: .7em;
	font-weight: bold;
	padding: 8px 0 10px 0;
}

#loginBox a {
	color: #fff;
	padding: 8px 10px 8px 10px;
}

#loginBox span {
	padding: 8px 10px 8px 10px;
}

#searchBox {
	clear: both;
	float: right;
	margin-top: 50px;
}

#presentationWrapper {
	background: #660066;
	box-shadow: 0 2px 2px #333333;
	height: 250px;
}

#presentation {
	background: url('../images/popcorns.png') no-repeat right;
	background-position: 95%;
	background-size: 190px;
	font-family: 'Marvel', sans-serif;
	height: 250px;
	margin: 0 auto;
	width: 960px;
}

#presentation #sentence {
	color: #DDDDDD;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 30px;
	line-height: 1.4em;
	width: 70%;
}

#content {
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: hidden;
	width: 960px;
}

#content h1 {
	color: #660066;
	font-size: 1.4em;
	font-weight: bold;
	padding: 40px 0;
	text-shadow: 1px 1px 2px #aaa;
}

#content {
	margin: 0 auto;
}

#content .film {
	background: #333333;
	background-size: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #333333;
	height: 225px;
	float: left;
	margin: 5px;
	padding: 10px;
	position: relative;
	width: 162px;
}

#content .film .metadata {
	background: rgba(255, 255, 255, 0.9);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	bottom: 0;
	color: #333;
	line-height: 1.3em;
	margin-left: -10px;
	padding: 5px;
	position: absolute;
	text-align: center;
	font-size: 0.7em;
	font-weight: bold;
	width: 172px;
}

#content a.film {
	color: #333;
	text-decoration: none;
}

#content .film .metadata .stars_yellow {
	background-image: url('../images/sprite_stars.png');
	background-position: top left;
	height: 24px;
	width: 120px;
}

#content .film .metadata .stars_grey {
	background-image: url('../images/sprite_stars.png');
	background-position: bottom left;
	height: 24px;
	margin: 10px auto;
	width: 120px;
}

#content .filmCard .film {
	
}

#content #loginForm {
	float: left;
	padding: 0 40px 20px 40px;
	width: 399px;
}

#content #registerForm {
	border-left: 1px dotted #333;
	float: left;
	padding: 0 40px 20px 40px;
	width: 400px;
}

#content .formInputBox {
	padding: 15px;
}

#content .formInputBox label {
	font-size: .8em;
	padding-right: 20px;
	text-align: right;
	width: 150px;
}

#content .formInputBox input.submit {
	width: 100%;
}

#content .errorMessage {
	background: crimson;
	border-radius: 10px;
	display: block;
	color: #fff;
	font-size: 0.8em;
	margin-top: 10px;
	padding: 10px;
}

input.text {
	-moz-box-shadow:inset 0px 1px 0px 0px #660066;
	-webkit-box-shadow:inset 0px 1px 0px 0px #660066;
	box-shadow:inset 0px 1px 0px 0px #660066;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #660066;
	font-family:arial;
	padding: 4px;
}

input.submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cc66ff), color-stop(1, #660066) );
	background:-moz-linear-gradient( center top, #cc66ff 5%, #660066 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc66ff', endColorstr='#660066');
	background-color:#cc66ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #660066;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #660066;
}

input.submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #660066), color-stop(1, #cc66ff) );
	background:-moz-linear-gradient( center top, #660066 5%, #cc66ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#660066', endColorstr='#cc66ff');
	background-color:#660066;
}

input.submit:active {
	position:relative;
	top:1px;
}

input.submit:disabled {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #333;
	background: #ddd;
	text-shadow: 1px 1px 0px #333;
}

input.submit:active:disabled {
	top: 0;
}

#content.error {
	padding: 100px;
	text-align: center;
	text-transform: uppercase;
}

footer {
	margin: 0 auto;
	padding: 20px;
	width: 960px;
}

footer .credits,
footer .authors {
	display: block;
	font-size: .7em;
	margin-bottom: 10px;
	text-align: center;
}
