body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
}

header {
	height: 125px;
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}

#loginBox {
	background: #660066;
	float: right;
	font-size: .8em;
	padding: 5px 10px;
}

#loginBox a {
	color: #fff;
}

#searchBox {
	clear: both;
	float: right;
	margin-top: 20px;
}

#searchBox input.search {
	
}

#searchBox input.submit {
	
}

#presentationWrapper {
	background: #660066;
	box-shadow: 0 2px 2px #333333;
	height: 250px;
}

#presentation {
	background: url('../images/popcorns.png') no-repeat right;
	background-position: 95%;
	background-size: 190px;
	font-family: 'Marvel', sans-serif;
	height: 250px;
	margin: 0 auto;
	width: 960px;
}

#presentation #sentence {
	color: #DDDDDD;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 30px;
	line-height: 1.4em;
	width: 60%;
}

#content {
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: hidden;
	width: 960px;
}

#content h1 {
	font-size: 1.4em;
	font-weight: bold;
	padding: 40px 0;
}

#content .mostRatedFilms {
	margin: 0 auto;
}

#content .mostRatedFilms .film {
	background: #333333;
	background-size: 100%;
	box-shadow: 2px 2px 2px #333333;
	height: 225px;
	float: left;
	margin: 5px;
	padding: 10px;
	position: relative;
	width: 162px;
}

#content .mostRatedFilms .metadata {
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	color: #FFF;
	margin-left: -10px;
	padding: 5px;
	position: absolute;
	text-align: center;
	font-size: 0.8em;
	width: 172px;
}

#content.error {
	padding: 100px;
	text-align: center;
	text-transform: uppercase;
}

footer {
	margin: 0 auto;
	padding: 20px;
	width: 960px;
}

footer .credits,
footer .authors {
	display: block;
	font-size: .7em;
	margin-bottom: 10px;
	text-align: center;
}
